<script
  src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.2/socket.io.min.js"
></script>

<div class="chat-container">
  <h1>Chat para hablar de amor y negocios</h1>

  <div>

    <input
      type="text"
      name="chat"
      id="ChatBox"
      placeholder="Escribe tu mensaje y dale enter :) "
    />

  </div>

  <p id="mesagesLogs"></p>

</div>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="js/main.js"></script>